.container {
  text-align: center;
  margin-top: 40px;
}

.input {
  width: 70%;
  margin-bottom: 30px;
}

.addButton {
  height: 55px;
  margin-bottom: 30px;
  margin-left: 16px;
}

.list {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.text {
  width: 70%;
  word-wrap: break-word;
}

.listButtons {
  margin-left: 10px;
}
